
.one-px, .one-px-t, .one-px-b, .one-px-l, .one-px-r {
  position: relative;
}

.one-px:before, .one-px-t:before,
.one-px-b:after, .one-px-l:before,
.one-px-r:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border-color: #eee;
  color: #eee;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}

.one-px {
  &:before {
    border: 1px solid;
  }
}

.one-px-t {
  &:before {
    border-top: 1px solid;
  }
}

.one-px-b {
  &:after {
    border-bottom: 1px solid;
  }
}

.one-px-l {
  &:before {
    border-left: 1px solid;
  }
}

.one-px-r {
  &:after {
    border-right: 1px solid;
  }
}
